@(formcontractaddress: Form[models.TablesExtend.ContractAddressesRow])(implicit messages: Messages)

@import helper._
@import play.api.i18n.Messages
@import utilities._
@implicitFC = @{ b4.horizontal.fieldConstructor("col-md-4", "col-md-8") }

@if(formcontractaddress.hasErrors) {

<div class="form-group">
    <div class="alert alert-danger col-lg-6 text-center">
       @for(error <- formcontractaddress.errors){
         @error<br />
       }
   </div>
</div>

}


 
	@b4.text( formcontractaddress("company"), '_label -> "会社名", 'placeholder -> "株式会社イー・エージェンシー" , '_showIconWarning -> true)
	@b4.text( formcontractaddress("postCode"), '_label -> "郵便番号", 'placeholder -> "100−0001" )
	@b4.text( formcontractaddress("prefecture"), '_label -> "都道府県", 'placeholder -> "東京都" )
	@b4.text( formcontractaddress("city"), '_label -> "市区町村", 'placeholder -> "千代田区" )
	@b4.text( formcontractaddress("address1"), '_label -> "住所1", 'placeholder -> "有楽町1−1−1" )
	@b4.text( formcontractaddress("address2"), '_label -> "住所2", 'placeholder -> "" )
	@b4.text( formcontractaddress("address3"), '_label -> "住所3", 'placeholder -> "" )
	@b4.text( formcontractaddress("depertment"), '_label -> "部署", 'placeholder -> "営業部" )
	@b4.text( formcontractaddress("staff"), '_label -> "担当者", 'placeholder -> "佐藤一郎" )
	@b4.text( formcontractaddress("staffEmail"), '_label -> "担当者メール", 'placeholder -> "xxx@xxx.xx" )
	@b4.text( formcontractaddress("phone"), '_label -> "電話番号", 'placeholder -> "03-0000-0000" )
	@b4.text( formcontractaddress("fax"), '_label -> "FAX番号", 'placeholder -> "03-0000-0000" )
 
 