@(applicationId: Long, formoauthusersearch: Form[models.TablesExtend.OauthUsersSearchRow], agencylist: Seq[(String, String)])(implicit messages: Messages)

@import helper._
@import play.api.i18n.Messages
@import utilities._
@implicitFC = @{ b4.vertical.fieldConstructor }
@{val customeurl = "data-uri"}



@if(formoauthusersearch.hasErrors) {
<div class="form-group">
    <div class="alert alert-danger col-lg-6 text-center">
       @for(error <- formoauthusersearch.errors){
         @error<br />
       }
   </div>
</div>
}
	@b4.text( formoauthusersearch("name"),'_label -> "Oauthユーザー名")
	@b4.select( formoauthusersearch("agencyId"), options = Seq("-1" -> "") ++ agencylist, '_label -> "代理店" )
	@b4.text( formoauthusersearch("clientName"),'_label -> "クライアント名", 'class -> "autocomplete", Symbol("data-uri") -> admin.routes.ClientController.nameautocomplete(applicationId, "") )
  
